@import '../base/variables';
/* clases para tienda.html*/

.h5{

    font-size: 40px;
    background-color: lightslategrey;
    font-family: $tipoletra;
    display: flex;
    justify-content: center;
    
}

.imagen-tienda{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
}

